/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.copilot
/.deepin-screen-recorder
/.dotnet
/.gnome
/.local
/.mozilla
/.pki
/.profile
/.python_history
/.sudo_as_admin_successful
/.thunderbird
/.var
/.vscode
/.vscode-shared
/Bios PS2
/Documentos
/Downloads
/Emulador Ps1
/Games PS2
/Imagens
/Modelos
/Músicas
/Público
/Vídeos
/aprendendo.py
/course-507045-bf1f4758-d88c-4ba6-ac99-986b2ae957b1.pdf
/sabor local
/Área de trabalhoAtividades SQL/
